footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #333;
	color: white;
	text-align: center;
	padding: 10px 0;

	img {
		width: 35px;
		height: 35px;
		border-radius: 100px;
		margin-left: 10px;
	}
}