<<<<<<< HEAD
header {
    display: flex;
    align-items: baseline;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    h1{
        flex-grow: 2;
    }
    div.idioma,div.Login{
       padding-right: 100px;
    }
    nav {
        flex-grow: 4;
        ul {
            display: flex;
            list-style-type: none;
          
            li {
                padding-right: 20px;
                text-align: center;
            }

            li:hover {
                background-color: white;
                color: black;
                border-radius: 5px;
            }
            a:link,
            a:visited,
            a:active {
                color: white;
=======
header{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    background-color: #f9f0df;
    nav{
        ul{
            display: flex;
            list-style-type: none;
            li{
                padding-right: 20px;
>>>>>>> 72788cf (Nuevo)
            }
        }
    }
}