button{
    width: 10%;
    height: 30px;
    border-radius: 20px;
    background-color: #e95e50;
    margin: 10px;
    border: 2px #e95e50 solid;
    color: white;
    font-size: 16px;
    font-weight: 600;
}