button {
    width: 10%;
    height: 30px;
    border-radius: 20px;
    background-color: #e95e50;
    margin: 10px;
    border: 2px #e95e50 solid;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.Configuracion a{
    color: black;
    text-decoration: none;
}
button a{
    color: white;
}
.ok{
    color: greenyellow;
}

.deletModi{
    button{
        width: 130px;
    }
}