body{
    background-color: white;
}

form{
    width: 600px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}


input{
    padding: 10px;
    margin: 5px;
}

input:nth-child(1){
    margin-top: 45px;
}

input[type="submit"]{
    display: flex;
    border-radius: 5px;
    background-color: darkcyan;
    color: white;
}

p{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}